footer {
  background-color: #c8bbaa;
  color: #847562;
  border-top: 3px solid #bab1a2;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 10%;
  text-align: right;
  font-family: Helvetica;
  position: absolute; }

footer li {
  display: inline;
  font-size: 10px;
  padding: 1%; }

.form-div {
  background-color: white; }

body {
  background-color: #eae2d7;
  color: #e61455;
  font-family: Arial; }

.mainText h1 {
  font-style: bold;
  font-size: 45px; }

.mainText h2 {
  color: black;
  font-family: helvetica; }
