footer {
  background-color: #c8bbaa;
  color: #817463;
  border-top: 4px solid #bab1a2;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 11%;
  font-family: Helvetica; }

footer menu {
  text-align: right;
  margin-right: 21%;
  margin-top: 20px; }

footer li {
  border-left: 1.3px dotted #817463;
  display: inline;
  font-size: 10.5px;
  padding: 3px 19px;
  margin: 15px 0px 15px 0px; }

footer #li-end {
  border-right: 1.3px dotted #817463; }

@media only screen and (max-width: 800px) {
  menu {
    margin: 22px 0px 13px 0px !important; }
  ul {
    text-align: center !important;
    font-size: 9px; } }

.form-div {
  background-color: white;
  float: right;
  margin-top: 1.7%;
  margin-right: 17%;
  padding: 4px 13px 13px 13px;
  border-radius: 4%;
  border-bottom: 2px solid #ddd5c9;
  border-right: 2px solid #ddd5c9;
  height: 450px;
  width: 200px;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 12px; }

form p {
  margin-bottom: 2px; }

form input,
form textarea {
  border: 1.3px solid #cccccc !important;
  border-radius: 5px;
  padding-bottom: 11px;
  margin-bottom: 12px;
  width: 100%; }

form button {
  margin-top: 7px;
  padding: 6px 35px;
  border-radius: 7px;
  border: 1px solid #e61455;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 12px; }

#submitBtn {
  background-color: #e61455;
  color: white; }

.photo-div {
  display: inline-flex;
  width: auto;
  height: auto;
  margin-top: 8.5%;
  margin-right: 26%; }

.photo-div img {
  border: 1px solid gray;
  border-radius: 5%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); }

body {
  background-image: url(../images/demo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #eae2d7;
  color: #e61455;
  font-family: Helvetica; }

.main-content {
  height: auto;
  width: 250px;
  float: left;
  margin-top: 1.7%;
  margin-left: 18.7%; }

h1 {
  font-size: 40px;
  font-style: bold;
  margin-bottom: 0px; }

#tagline {
  font-size: 18px;
  margin-top: 0px;
  color: black; }

#intro {
  margin-top: 15.7%;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: bolder; }

#info {
  color: #81796b;
  font-size: 10px;
  font-family: "Roboto";
  line-height: 1.5; }
