footer {
  background-color: #c8bbaa;
  color: #847562;
  border-top: 4px solid #bab1a2;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 11%;
  font-family: Helvetica;

  menu {
    text-align: right;
    margin-right: 18%;
    margin-top: 20px;
  }

  li {
    display: inline;
    font-size: 10.5px;
    padding: 7px;
  }

}

