footer {
  background-color: #c8bbaa;
  color: #817463;
  border-top: 4px solid #bab1a2;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 9%;
  font-family: Helvetica;

  menu {
    text-align: right;
    margin-right: 21%;
    margin-top: 20px;
  }

  li {
    border-left: 1.3px dotted #817463;
    display: inline;
    font-size: 10.5px;
    padding: 3px 19px;
    margin: 15px 0px 15px 0px;
  }

  #li-end {
    border-right: 1.3px dotted #817463;
  }

}


// media queries

@media only screen and (max-width: 414px) {

  footer {

      text-align: center;

    menu {
      text-align: center;
    }
      
    ul {
      text-align: center;
      padding-left: 60px;
    }

    li {
      padding: 7px;
    }
  }

}

