
.form-div {
    background-color: white;
    float: right;
    margin-top: 1.5%;
    margin-right: 15%;
    padding: 2%;
    border-radius: 5%;
    border-bottom: 2px solid #ddd5c9;
    border-right: 2px solid #ddd5c9;
    height: 400px;
    width: 225px;
    font-family: helvetica;
    font-style: bold;
}