$mainText: #e61455;

@import "./footer";
@import "./form";
@import "./lightbox";


body {
    background-image: url(../images/demo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #eae2d7;
    color: $mainText;
    font-family: Helvetica;
}

.main-content {
    height: auto;
    width: 250px;
    float: left;
    margin-top: 1.7%;
    margin-left: 18.7%;
}

h1 {
    font-size: 40px;
    font-style: bold;
    margin-bottom: 0px;
}

#tagline {
    font-size: 18px;
    margin-top: 0px;
    color: black;
}

#intro {
    margin-top: 15.7%;
    font-size: 12px;
    font-family: "Roboto";
    font-weight: bolder;
}

#info {
    color: #81796b;
    font-size: 10px;
    font-family: "Roboto";
    line-height: 1.5;
}