$mainText: #e61455;

@import "./footer";
@import "./form";


body {
    background-color: #eae2d7;
    color: $mainText;
    font-family: Arial;
}

.mainText {

    
    h1 {
        font-style: bold;
        font-size: 45px;
    }

    h2 {
        color: black;
        font-family: helvetica;
    }
}