$mainText: #e61455;

@import "./footer";
@import "./form";


body {
    background-image: url(../images/bg-photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-color: #eae2d7;
    color: $mainText;
    font-family: Helvetica;
}

.main-content {
    height: 200px;
    width: 275px;
    float: left;
    margin-top: 1%;
    margin-left: 15%;
}

h1 {
    font-size: 40px;
    font-style: bold;
    margin-bottom: 0px;
}

#tagline {
    font-size: 20px;
    margin-top: 0px;
    color: black;
}

#intro {
    margin-top: 15%;
    font-style: bolder;
    font-size: 13px;
}

#info {
    color: black;
    font-size: 13px;
}